<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <title>Just Another Link Shortener</title>
    <style>
        input[type="text"] {
            width: 100%;
        }
    </style>
</head>
<body>
    <main>
        <h1>Just Another Link Shortener (JALS)</h1>
        <form action="/link" method="post">
            <input type="text" name="link" placeholder="Paste long and ugly link here" required>
            <button type="submit" class="button-3">Make it short and nice!</button>
        </form>
        {{ range .Flashes }}
            <p><strong>{{ . }}</strong></p>
        {{ end }}
    </main>
</body>
</html>